.info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:darkgray ;
   
    
}

.grid-container{
    border: 2px skyblue;
    margin: 25px;
    display: grid;
grid-template-columns: 2;
grid-row: 2;
row-gap: 15px;
column-gap: 25px;
    
}
.grid-item{

    border-radius: 5px;
}
.grid-item-1{
grid-column: 1/2;
grid-row: 1/2;
display: flex;



}
.grid-item-2{
grid-column: 2/3;
grid-row: 1/2;
width: 100%;
object-fit: cover;


}
.grid-item-3{
grid-column:1/2 ;
grid-row: 3/4;
}
.grid-item-4{
    grid-column:2/3 ;
    grid-row: 3/4;
}
