*{
    padding: 0;
    margin: 0;
    bottom: 0;
    position: relative;

}

body{
    padding: 0;
    margin: 0;
    background-image: url(../../oscar-sutton-pBrHNFqcX-M-unsplash.jpg);
   background-position:center center;   
   background-size:auto auto;
   background-repeat: no-repeat;
   position: relative;
   height: 100vh;
   
   
}